<div class="container w-75 my-5">
  <div class="row">
    <div class="col offset-1"><%= attachment_image_tag(@game, :game_image, :fill, 350, 250,  fallback: "no_image.jpeg", size:'400x250') %></div>
    <div class="col ">
      <h1><%= @game.game_title %></h1>
      <div class="introduction"><%= @game.game_introduction %></div>
    </div>
  </div>
</div>