<div class="container about-image">
  <div class="row">
    <div class="col text-center">
      <h1 class="about-title">About</h1>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col text-center">
      <p class="about-text">
        <strong>E-コミュ</strong>はオンライン対戦ゲームのコミュニティサイトです。<br>
        オンライン対戦ゲームを一人だけじゃなくチームでゲームをプレイしたい！<br>
        実力や時間帯の合う友達がいない！そんな悩みを解消します！<br>
        初心者から上級者の方までご利用いただけるよう、<br>
        様々なタイトルとランク別の集いを用意しております。<br>
        また、ユーザー間のコミュニュケーションも充実しています。<br>
        ぜひご利用ください。
      </p>
    </div>
  </div>
</div>