<div class="container">
  <div class="row">
    <div class="col">
      <div class="top-visual mx-auto mt-5">
        <p class="text-back mx-auto px-1 py-4">
          ようこそ、E-コミュへ！<br>
          このサイトは、オンライン対戦ゲームのプレイヤーコミュニティサイトになります。<br>
          会員でない方もサイトの概要は閲覧できますが、<br>
          コミュニティの利用には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
</div>